<!doctype html><!-- This is a valid HTML5 document. -->
<!-- Screen readers, SEO, extensions and so on. -->
<html lang="fr">
<head>
  <!-- Has to be within the first 1024 bytes, hence before the `title` element
    See: https://www.w3.org/TR/2012/CR-html5-20121217/document-metadata.html#charset -->
  <meta charset="utf-8">
  <!-- Why no `X-UA-Compatible` meta: https://stackoverflow.com/a/6771584 -->
  <!-- The viewport meta is quite crowded and we are responsible for that.
    See: https://codepen.io/tigt/post/meta-viewport-for-2015 -->
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Required to make a valid HTML5 document. -->
  <title>Les statuts</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="./static/simple-v1.css">
  <style type="text/css">
    h2, h3, h4, h5, h6 {
      font-weight: normal;
    }
    .notice {
      background: var(--accent-bg);
      border: 2px solid var(--border);
      border-radius: 5px;
      padding: 1.5rem;
      margin: 2rem 0;
    }
    .question {
      background: #fff3bf;
      border-color: #f08c00;
    }
    .documentation {
      background: #ebfbee;
      border-color: #237032;
    }
    :target {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <section>
    <header>
      <h1>{{ titre }}</h1>
    </header>
    <div>
      {{ statuts }}
    </div>
  </section>
</body>
</html>
